In [2]:
# libraries
from datasets import load_dataset
import pandas as pd

Load all of the QA data from the SemEval Task 8

In [3]:
# Load all QA pairs
all_qa = load_dataset("cardiffnlp/databench", name="qa", split="train")

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

In [6]:
# Load SemEval 2025 task 8 Question-Answer splits
semeval_train_qa = load_dataset("cardiffnlp/databench", name="semeval", split="train")
semeval_dev_qa = load_dataset("cardiffnlp/databench", name="semeval", split="dev")

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/49 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/49 [00:00<?, ?it/s]

Test to see form of data

In [7]:
# "001_Forbes", the id of the dataset
df_id = all_qa['dataset'][0]

In [9]:
# full dataset for 001_Forbes
forbes_df = pd.read_parquet(f"hf://datasets/cardiffnlp/databench/data/{df_id}/all.parquet")
forbes_df

,rank,personName,age,finalWorth,category,source,country,state,city,organization,selfMade,gender,birthDate,title,philanthropyScore,bio,about
0,1,Elon Musk,50.0,219000,Automotive,"Tesla, SpaceX",United States,Texas,Austin,Tesla,True,M,1971-06-28 00:00:00+00:00,CEO,1.0,Elon Musk is working to revolutionize transpor...,Musk was accepted to a graduate program at Sta...
1,2,Jeff Bezos,58.0,171000,Technology,Amazon,United States,Washington,Seattle,Amazon,True,M,1964-01-12 00:00:00+00:00,Entrepreneur,1.0,Jeff Bezos founded e-commerce giant Amazon in ...,"Growing up, Jeff Bezos worked summers on his g..."
2,3,Bernard Arnault & family,73.0,158000,Fashion & Retail,LVMH,France,NaN,Paris,LVMH Moët Hennessy Louis Vuitton,False,M,1949-03-05 00:00:00+00:00,Chairman and CEO,NaN,Bernard Arnault oversees the LVMH empire of so...,"Arnault apparently wooed his wife, Helene Merc..."
3,4,Bill Gates,66.0,129000,Technology,Microsoft,United States,Washington,Medina,Bill & Melinda Gates Foundation,True,M,1955-10-28 00:00:00+00:00,Cofounder,4.0,Bill Gates turned his fortune from software fi...,"When Gates was a kid, he spent so much time re..."
4,5,Warren Buffett,91.0,118000,Finance & Investments,Berkshire Hathaway,United States,Nebraska,Omaha,Berkshire Hathaway,True,M,1930-08-30 00:00:00+00:00,CEO,5.0,"Known as the ""Oracle of Omaha,"" Warren Buffett...","Buffett still lives in the same Omaha, Nebrask..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2663,2578,Zhang Yuqiang,66.0,1000,Manufacturing,Fiberglass,China,NaN,Tongxiang,NaN,True,M,1955-09-01 00:00:00+00:00,NaN,NaN,"Zhang Yuqiang chairs Zhenshi Holding Group, a ...",None
2664,2578,Zhou Ruxin,59.0,1000,Technology,Navigation,China,NaN,Beijing,NaN,True,M,1963-03-01 00:00:00+00:00,NaN,NaN,"Zhou Ruxin chairs Beijing BDStar Navigation, a...",None
2665,2578,Wen Zhou & family,57.0,1000,Manufacturing,chemicals,China,NaN,Shanghai,NaN,True,M,1965-03-06 00:00:00+00:00,NaN,NaN,"Zhou Wen chairs Shanghai Pret Composites, a su...",None
2666,2578,Zhou Yifeng & family,43.0,1000,Energy,liquefied petroleum gas,China,NaN,Zhangjiagang,NaN,True,F,1978-07-11 00:00:00+00:00,NaN,NaN,Zhou Yifeng chairs Shenzhen-listed Oriental En...,None
2667,2578,Zhuang Kuilong & family,59.0,1000,Manufacturing,polyester,China,NaN,Jiaxing,NaN,True,M,1962-06-15 00:00:00+00:00,NaN,NaN,"Zhuang Kuilong chairs Xinfengming Group, a man...",None

In [8]:
# qa contains the human-made set of questions, tagged by type and columns used, for the dataset
forbes_qa = pd.read_parquet(f"hf://datasets/cardiffnlp/databench/data/{df_id}/qa.parquet")

In [9]:
# filter to just 'number' and put all of those together from every dataframe 
forbes_qa

,question,answer,type,columns_used,column_types,sample_answer,dataset
0,Is the person with the highest net worth self-...,True,boolean,"['finalWorth', 'selfMade']","['number[uint32]', 'boolean']",False,001_Forbes
1,Does the youngest billionaire identify as male?,True,boolean,"['age', 'gender']","['number[UInt8]', 'category']",True,001_Forbes
2,Is the city with the most billionaires in the ...,True,boolean,"['city', 'country']","['category', 'category']",True,001_Forbes
3,Is there a non-self-made billionaire in the to...,True,boolean,"['rank', 'selfMade']","['number[uint16]', 'boolean']",False,001_Forbes
4,Does the oldest billionaire have a philanthrop...,False,boolean,"['age', 'philanthropyScore']","['number[UInt8]', 'number[UInt8]']",False,001_Forbes
5,What is the age of the youngest billionaire?,19.0,number,['age'],['number[UInt8]'],32.0,001_Forbes
6,How many billionaires are there from the 'Tech...,343,number,['category'],['category'],0,001_Forbes
7,What's the total worth of billionaires in the ...,583600,number,"['category', 'finalWorth']","['category', 'number[uint32]']",0,001_Forbes
8,How many billionaires have a philanthropy scor...,25,number,['philanthropyScore'],['number[UInt8]'],0,001_Forbes
9,What's the rank of the wealthiest non-self-mad...,3,number,"['selfMade', 'rank']","['boolean', 'number[uint16]']",288,001_Forbes
10,Which category does the richest billionaire be...,Automotive,category,"['finalWorth', 'category']","['number[uint32]', 'category']",Food & Beverage,001_Forbes
11,What's the country of origin of the oldest bil...,United States,category,"['age', 'country']","['number[UInt8]', 'category']",United Kingdom,001_Forbes
12,What's the gender of the billionaire with the ...,M,category,"['philanthropyScore', 'gender']","['number[UInt8]', 'category']",M,001_Forbes
13,What's the source of wealth for the youngest b...,drugstores,category,"['age', 'source']","['number[UInt8]', 'category']",fintech,001_Forbes
14,What is the title of the billionaire with the ...,None,category,"['rank', 'title']","['number[uint16]', 'category']",None,001_Forbes
15,List the top 3 countries with the most billion...,"['United States', 'China', 'India']",list[category],['country'],['category'],"['United States', 'China', 'Brazil']",001_Forbes
16,List the top 5 sources of wealth for billionai...,"['real estate', 'investments', 'pharmaceutical...",list[category],['source'],['category'],"['diversified', 'media, automotive', 'Semicond...",001_Forbes
17,List the top 4 cities where the youngest billi...,"['', 'Los Angeles', 'Jiaozuo', 'Oslo']",list[category],"['age', 'city']","['number[UInt8]', 'category']","['San Francisco', 'New York', 'Wuhan', 'Bangal...",001_Forbes
18,List the bottom 3 categories with the fewest b...,"['Logistics', 'Sports', 'Gambling & Casinos']",list[category],['category'],['category'],"['Service', 'Fashion & Retail', 'Manufacturing']",001_Forbes
19,List the bottom 2 countries with the least num...,"['Colombia', 'Andorra']",list[category],['country'],['category'],"['Canada', 'Egypt']",001_Forbes
20,List the top 5 ranks of billionaires who are n...,"[3, 10, 14, 16, 18]",list[number],"['selfMade', 'rank']","['boolean', 'number[uint16]']","[288, 296, 509, 523, 601]",001_Forbes
21,List the bottom 3 ages of billionaires who hav...,"[48.0, 83.0, 83.0]",list[number],"['philanthropyScore', 'age']","['number[UInt8]', 'number[UInt8]']",[],001_Forbes
22,List the top 6 final worth values of billionai...,"[171000, 129000, 111000, 107000, 106000, 91400]",list[number],"['category', 'finalWorth']","['category', 'number[uint32]']",[],001_Forbes
23,List the top 4 ranks of female billionaires.,"[14, 18, 21, 30]",list[number],"['gender', 'rank']","['category', 'number[uint16]']",[],001_Forbes
24,List the top 2 final worth values of billionai...,"[219000, 44800]",list[number],"['category', 'finalWorth']","['category', 'number[uint32]']",[],001_Forbes

In [10]:
# sample dataset (20 colums)
sample_df = pd.read_parquet(f"hf://datasets/cardiffnlp/databench/data/{df_id}/sample.parquet")

In [11]:
type(sample_df)#[:10]

pandas.core.frame.DataFrame

# format the QA

In [25]:
# for each question in the QA
!pip install table_bert

ERROR: Could not find a version that satisfies the requirement table_bert (from versions: none)
ERROR: No matching distribution found for table_bert

ModuleNotFoundError: No module named 'table_bert'