In [1]:
# libraries
from datasets import load_dataset
import pandas as pd

Load all of the QA data from the SemEval Task 8

In [2]:
# Load all QA pairs
all_qa = load_dataset("cardiffnlp/databench", name="qa", split="train")

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

In [3]:
# Load SemEval 2025 task 8 Question-Answer splits
semeval_train_qa = load_dataset("cardiffnlp/databench", name="semeval", split="train")
semeval_dev_qa = load_dataset("cardiffnlp/databench", name="semeval", split="dev")

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/49 [00:00<?, ?it/s]

Downloading data:   0%|          | 0/49 [00:00<?, ?files/s]

Downloading data:   0%|          | 0/16 [00:00<?, ?files/s]

Generating train split:   0%|          | 0/988 [00:00<?, ? examples/s]

Generating dev split:   0%|          | 0/320 [00:00<?, ? examples/s]

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/49 [00:00<?, ?it/s]

Test to see form of data

In [3]:
# "001_Forbes", the id of the dataset
df_id = all_qa['dataset'][0]

In [6]:
# full dataset for 001_Forbes
forbes_df = pd.read_parquet(f"hf://datasets/cardiffnlp/databench/data/{df_id}/all.parquet")

In [8]:
# qa contains the human-made set of questions, tagged by type and columns used, for the dataset
forbes_qa = pd.read_parquet(f"hf://datasets/cardiffnlp/databench/data/{df_id}/qa.parquet")

In [23]:
forbes_qa

,question,answer,type,columns_used,column_types,sample_answer,dataset
0,Is the person with the highest net worth self-...,True,boolean,"['finalWorth', 'selfMade']","['number[uint32]', 'boolean']",False,001_Forbes
1,Does the youngest billionaire identify as male?,True,boolean,"['age', 'gender']","['number[UInt8]', 'category']",True,001_Forbes
2,Is the city with the most billionaires in the ...,True,boolean,"['city', 'country']","['category', 'category']",True,001_Forbes
3,Is there a non-self-made billionaire in the to...,True,boolean,"['rank', 'selfMade']","['number[uint16]', 'boolean']",False,001_Forbes
4,Does the oldest billionaire have a philanthrop...,False,boolean,"['age', 'philanthropyScore']","['number[UInt8]', 'number[UInt8]']",False,001_Forbes
5,What is the age of the youngest billionaire?,19.0,number,['age'],['number[UInt8]'],32.0,001_Forbes
6,How many billionaires are there from the 'Tech...,343,number,['category'],['category'],0,001_Forbes
7,What's the total worth of billionaires in the ...,583600,number,"['category', 'finalWorth']","['category', 'number[uint32]']",0,001_Forbes
8,How many billionaires have a philanthropy scor...,25,number,['philanthropyScore'],['number[UInt8]'],0,001_Forbes
9,What's the rank of the wealthiest non-self-mad...,3,number,"['selfMade', 'rank']","['boolean', 'number[uint16]']",288,001_Forbes
10,Which category does the richest billionaire be...,Automotive,category,"['finalWorth', 'category']","['number[uint32]', 'category']",Food & Beverage,001_Forbes
11,What's the country of origin of the oldest bil...,United States,category,"['age', 'country']","['number[UInt8]', 'category']",United Kingdom,001_Forbes
12,What's the gender of the billionaire with the ...,M,category,"['philanthropyScore', 'gender']","['number[UInt8]', 'category']",M,001_Forbes
13,What's the source of wealth for the youngest b...,drugstores,category,"['age', 'source']","['number[UInt8]', 'category']",fintech,001_Forbes
14,What is the title of the billionaire with the ...,None,category,"['rank', 'title']","['number[uint16]', 'category']",None,001_Forbes
15,List the top 3 countries with the most billion...,"['United States', 'China', 'India']",list[category],['country'],['category'],"['United States', 'China', 'Brazil']",001_Forbes
16,List the top 5 sources of wealth for billionai...,"['real estate', 'investments', 'pharmaceutical...",list[category],['source'],['category'],"['diversified', 'media, automotive', 'Semicond...",001_Forbes
17,List the top 4 cities where the youngest billi...,"['', 'Los Angeles', 'Jiaozuo', 'Oslo']",list[category],"['age', 'city']","['number[UInt8]', 'category']","['San Francisco', 'New York', 'Wuhan', 'Bangal...",001_Forbes
18,List the bottom 3 categories with the fewest b...,"['Logistics', 'Sports', 'Gambling & Casinos']",list[category],['category'],['category'],"['Service', 'Fashion & Retail', 'Manufacturing']",001_Forbes
19,List the bottom 2 countries with the least num...,"['Colombia', 'Andorra']",list[category],['country'],['category'],"['Canada', 'Egypt']",001_Forbes
20,List the top 5 ranks of billionaires who are n...,"[3, 10, 14, 16, 18]",list[number],"['selfMade', 'rank']","['boolean', 'number[uint16]']","[288, 296, 509, 523, 601]",001_Forbes
21,List the bottom 3 ages of billionaires who hav...,"[48.0, 83.0, 83.0]",list[number],"['philanthropyScore', 'age']","['number[UInt8]', 'number[UInt8]']",[],001_Forbes
22,List the top 6 final worth values of billionai...,"[171000, 129000, 111000, 107000, 106000, 91400]",list[number],"['category', 'finalWorth']","['category', 'number[uint32]']",[],001_Forbes
23,List the top 4 ranks of female billionaires.,"[14, 18, 21, 30]",list[number],"['gender', 'rank']","['category', 'number[uint16]']",[],001_Forbes
24,List the top 2 final worth values of billionai...,"[219000, 44800]",list[number],"['category', 'finalWorth']","['category', 'number[uint32]']",[],001_Forbes

In [17]:
# sample dataset (20 colums)
sample_df = pd.read_parquet(f"hf://datasets/cardiffnlp/databench/data/{df_id}/sample.parquet")

In [20]:
sample_df[:10]

,selfMade,finalWorth,city,title,gender,age,rank,philanthropyScore,category,source,country
0,False,7800,Atlanta,Chairman,M,74.0,296,2.0,Media & Entertainment,"media, automotive",United States
1,True,1700,Ningbo,None,M,86.0,1729,NaN,Manufacturing,precision machinery,China
2,True,2000,Wuhan,None,M,49.0,1513,NaN,Real Estate,real estate,China
3,True,1100,São Paulo,None,M,69.0,2448,NaN,Diversified,pharmaceuticals,Brazil
4,True,3300,Sao Jose dos Pinhais,None,M,72.0,913,NaN,Fashion & Retail,cosmetics,Brazil
5,False,5200,Southampton,None,F,79.0,523,1.0,Media & Entertainment,"media, automotive",United States
6,False,4700,Taipei,None,M,54.0,601,NaN,Finance & Investments,financial services,Taiwan
7,True,5300,Singapore,None,M,51.0,509,NaN,Food & Beverage,restaurants,Singapore
8,True,2000,Toronto,None,M,65.0,1513,NaN,Finance & Investments,real estate finance,Canada
9,False,2600,Dubai,Athlete,M,NaN,1196,NaN,Diversified,diversified,United Arab Emirates

# format the QA

In [25]:
# for each question in the QA
!pip install table_bert

ERROR: Could not find a version that satisfies the requirement table_bert (from versions: none)
ERROR: No matching distribution found for table_bert

ModuleNotFoundError: No module named 'table_bert'