In [1]:
# libraries
from datasets import load_dataset
import pandas as pd

Load all of the QA data from the SemEval Task 8

In [2]:
# Load all QA pairs
all_qa = load_dataset("cardiffnlp/databench", name="qa", split="train")

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Downloading data:   0%|          | 0/65 [00:00<?, ?files/s]

Generating train split:   0%|          | 0/1308 [00:00<?, ? examples/s]

In [3]:
# Load SemEval 2025 task 8 Question-Answer splits
semeval_train_qa = load_dataset("cardiffnlp/databench", name="semeval", split="train")
semeval_dev_qa = load_dataset("cardiffnlp/databench", name="semeval", split="dev")

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/49 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/65 [00:00<?, ?it/s]

Resolving data files:   0%|          | 0/49 [00:00<?, ?it/s]

Test to see form of data

In [13]:
# "001_Forbes", the id of the dataset
df_id = all_qa['dataset'][50]
df_id

'003_Love'

In [14]:
# full dataset for 001_Forbes
forbes_df = pd.read_parquet(f"hf://datasets/cardiffnlp/databench/data/{df_id}/all.parquet")
forbes_df

,Submitted at,What is your age? üë∂üèªüëµüèª,What's your nationality?,What is your civil status? üíç,What's your sexual orientation?,Do you have children? üçº,What is the maximum level of studies you have achieved? üéì,Gross annual salary (in euros) üí∏,What's your height? in cm üìè,What's your weight? in Kg ‚öñÔ∏è,...,Where have you met your sexual partners? (Neighbors),Where have you met your sexual partners? (in Church),Where have you met your sexual partners? (Other),How many people have you kissed?,How many sexual partners have you had?,How many people have you considered as your boyfriend_girlfriend?,How many times per month did you practice sex lately?,Happiness scale,What area of knowledge is closer to you?,"If you are in a relationship, how long have you been with your partner?"
0,2023-01-09 18:00:35+00:00,51,NaN,Married,NaN,Yes,PhD,125000.0,180,82.0,...,False,False,False,4,1,2,25.0,9,"[Computer Science, Science]",NaN
1,2023-01-09 18:02:25+00:00,28,NaN,Single,NaN,No,Master,90000.0,186,83.0,...,False,False,False,70,30,0,4.0,7,"[Enginering & Architecture, Computer Science]",NaN
2,2023-01-09 18:05:17+00:00,45,NaN,Married,NaN,Yes,Master,90000.0,190,107.0,...,False,False,False,8,4,3,3.0,10,[Art & Humanities],NaN
3,2023-01-09 18:06:36+00:00,29,NaN,Single,NaN,No,Master,55000.0,164,62.0,...,False,False,False,2,2,0,2.0,8,"[Health, Business, Computer Science]",NaN
4,2023-01-09 18:13:45+00:00,27,NaN,In a Relationship,NaN,No,Master,25000.0,163,55.0,...,False,False,False,50,25,7,10.0,8,[Art & Humanities],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
368,2023-05-01 12:06:10+00:00,21,France,Single,Heterosexual,No,College Degree,20000.0,187,70.0,...,False,False,False,40,6,1,3.0,9,[Business],2.4
369,2023-05-02 16:42:21+00:00,33,Spain,In a Relationship,Homosexual,No,College Degree,120000.0,184,80.0,...,False,False,False,220,200,7,10.0,8,[Health],0.5
370,2023-05-03 12:47:08+00:00,34,Spain,Single,Heterosexual,No,Master,72000.0,174,65.0,...,False,False,False,30,15,2,1.0,5,[Enginering & Architecture],0.3
371,2023-05-06 11:02:50+00:00,23,Germany,In a Relationship,Bisexual,No,College Degree,30000.0,164,50.0,...,True,False,False,25,15,5,5.0,8,"[Art & Humanities, Business]",0.5
372,2023-05-09 09:00:40+00:00,36,Spain,Married,Heterosexual,No,Master,50000.0,175,67.0,...,False,False,False,25,20,7,2.0,8,"[Computer Science, Science]",NaN

In [15]:
# qa contains the human-made set of questions, tagged by type and columns used, for the dataset
forbes_qa = pd.read_parquet(f"hf://datasets/cardiffnlp/databench/data/{df_id}/qa.parquet")

In [16]:
# filter to just 'number' and put all of those together from every dataframe 
forbes_qa

,question,answer,type,columns_used,column_types,sample_answer,dataset
0,Is the average age of the respondents above 30?,True,boolean,['What is your age? üë∂üèªüëµüèª'],['number[uint8]'],True,003_Love
1,Are there more single individuals than married...,True,boolean,['What is your civil status? üíç'],['category'],False,003_Love
2,Do the majority of respondents have a height g...,True,boolean,[What's your height? in cm üìè],['number[uint8]'],True,003_Love
3,Is the most frequent hair color black?,False,boolean,['What is your hair color? üë©ü¶∞üë±üèΩ'],['category'],False,003_Love
4,How many unique nationalities are present in t...,13,number,"[What's your nationality?""]""",['category'],1,003_Love
5,What is the average gross annual salary?,56332.81720430108,number,['Gross annual salary (in euros) üí∏'],['number[UInt32]'],62710.0,003_Love
6,How many respondents wear glasses all the time?,98,number,['How often do you wear glasses? üëì'],['category'],5,003_Love
7,What's the median age of the respondents?,33.0,number,['What is your age? üë∂üèªüëµüèª'],['number[uint8]'],32.5,003_Love
8,What is the most common level of studies achie...,Master,category,['What is the maximum level of studies you hav...,['category'],Master,003_Love
9,Which body complexity has the least number of ...,Very thin,category,['What is your body complexity? üèãÔ∏è'],['category'],Obese,003_Love
10,What's the most frequent eye color?,Brown,category,['What is your eye color? üëÅÔ∏è'],['category'],Brown,003_Love
11,Which sexual orientation has the highest repre...,Heterosexual,category,['What's your sexual orientation?'],['category'],Heterosexual,003_Love
12,List the top 3 most common areas of knowledge.,"['[Computer Science]', '[Business]', '[Enginer...",list[category],['What area of knowledge is closer to you?'],['list[category]'],"['[Computer Science]', '[Business]', '[Enginer...",003_Love
13,List the bottom 3 hair lengths in terms of fre...,"['Medium', 'Long', 'Bald']",list[category],['How long is your hair? üíáüèª‚ôÄÔ∏èüíáüèΩ‚ôÇÔ∏è'],['category'],"['Short', 'Medium', 'Long']",003_Love
14,Name the top 5 civil statuses represented in t...,"['Single', 'Married', 'In a Relationship', 'In...",list[category],['What is your civil status? üíç'],['category'],"['Married', 'In a Relationship', 'In a Relatio...",003_Love
15,What are the 4 least common hair colors?,"['Red', 'Other', 'White', 'Blue']",list[category],['What is your hair color? üë©ü¶∞üë±üèΩ'],['category'],"['Brown', 'Black']",003_Love
16,What are the top 4 maximum gross annual salaries?,"[500000.0, 360000.0, 300000.0, 300000.0]",list[number],['Gross annual salary (in euros) üí∏'],['number[UInt32]'],"[150000.0, 130000.0, 125000.0, 120000.0]",003_Love
17,Name the bottom 3 values for the happiness scale.,"[2, 2, 2]",list[number],['Happiness scale'],['number[uint8]'],"[7, 10, 6]",003_Love
18,What are the 5 highest ages present in the dat...,"[65, 62, 60, 60, 59]",list[number],['What is your age? üë∂üèªüëµüèª'],['number[uint8]'],"[65, 60, 51, 50, 50]",003_Love
19,List the bottom 6 skin tone values based on fr...,"[2, 1, 6, 0, 7, 8]",list[number],['What is your skin tone?'],['number[uint8]'],"[3, 1, 6, 2, 7, 0]",003_Love

In [19]:
# sample dataset (20 colums)
sample_df = pd.read_parquet(f"hf://datasets/cardiffnlp/databench/data/{df_id}/sample.parquet")

In [20]:
sample_df

,Submitted at,What is your age? üë∂üèªüëµüèª,What's your nationality?,What is your civil status? üíç,What's your sexual orientation?,Do you have children? üçº,What is the maximum level of studies you have achieved? üéì,Gross annual salary (in euros) üí∏,What's your height? in cm üìè,What's your weight? in Kg ‚öñÔ∏è,...,Where have you met your sexual partners? (Neighbors),Where have you met your sexual partners? (in Church),Where have you met your sexual partners? (Other),How many people have you kissed?,How many sexual partners have you had?,How many people have you considered as your boyfriend_girlfriend?,How many times per month did you practice sex lately?,Happiness scale,What area of knowledge is closer to you?,"If you are in a relationship, how long have you been with your partner?"
0,2023-04-23T06:33:05Z,39,Spain,Married,Heterosexual,Yes,Master,120000.0,183,74.0,...,False,False,False,20,8,6,3.0,8,[Computer Science],13.0
1,2023-01-09T20:07:48Z,29,None,Married,None,No,Master,82000.0,174,75.0,...,False,False,False,5,1,1,8.0,9,"[Science, Business]",12.0
2,2023-01-09T18:32:25Z,42,None,Married,None,Yes,Master,60000.0,183,73.0,...,False,False,False,20,10,5,1.0,7,[Enginering & Architecture],NaN
3,2023-04-22T23:35:43Z,31,Spain,In a Relationship,Heterosexual,No,College Degree,54000.0,185,85.0,...,False,False,False,5,4,2,20.0,7,"[Computer Science, Other]",2.0
4,2023-01-09T22:55:14Z,41,None,Married,None,Yes,Master,50000.0,170,71.0,...,False,False,False,50,15,7,4.0,8,[Law & Social Science],14.0
5,2023-04-22T18:59:09Z,33,Spain,In a Relationship,Heterosexual,No,Primary Education,130000.0,168,68.0,...,False,False,False,40,30,10,2.0,7,"[Business, Art & Humanities]",4.0
6,2023-01-10T10:54:21Z,32,None,Single,None,No,Master,150000.0,170,65.0,...,False,False,True,6,5,3,6.0,8,"[Computer Science, Enginering & Architecture]",NaN
7,2023-01-11T20:35:42Z,25,None,In a Relationship Cohabiting,None,No,Master,38000.0,177,78.0,...,False,False,False,5,4,3,2.0,8,"[Computer Science, Science]",4.0
8,2023-04-22T22:16:16Z,25,Spain,In a Relationship,Heterosexual,No,Technical Education (FP),21000.0,170,65.0,...,False,False,False,50,3,1,10.0,8,"[Computer Science, Art & Humanities]",6.0
9,2023-01-12T08:43:35Z,23,None,In a Relationship Cohabiting,None,No,College Degree,7200.0,176,105.0,...,False,False,False,1,1,1,12.0,10,[Computer Science],6.0
10,2023-04-22T18:52:53Z,50,Spain,Divorced,Heterosexual,No,College Degree,15000.0,178,72.0,...,False,False,False,25,16,6,5.0,6,[Business],0.9
11,2023-01-09T20:38:39Z,65,None,Married,None,Yes,Master,50000.0,168,82.0,...,False,False,False,1,1,1,1.0,8,[Business],30.0
12,2023-01-14T10:54:16Z,29,None,In a Relationship,None,No,Master,12000.0,165,83.0,...,False,False,True,10,7,3,5.0,8,"[Computer Science, Art & Humanities]",5.5
13,2023-01-09T22:38:11Z,34,None,Married,None,Yes,Master,40000.0,183,68.0,...,False,False,False,6,4,1,4.0,9,[Enginering & Architecture],12.0
14,2023-01-14T19:39:44Z,60,None,Married,None,Yes,PhD,50000.0,180,81.0,...,False,False,False,10,4,3,8.0,8,[Art & Humanities],14.0
15,2023-04-22T20:09:37Z,50,Spain,Married,Heterosexual,Yes,Master,70000.0,170,85.0,...,False,False,False,30,6,6,3.0,8,[Computer Science],23.0
16,2023-01-09T18:00:35Z,51,None,Married,None,Yes,PhD,125000.0,180,82.0,...,False,False,False,4,1,2,25.0,9,"[Computer Science, Science]",NaN
17,2023-04-22T18:51:56Z,30,Spain,In a Relationship,Homosexual,No,PhD,40000.0,172,65.0,...,False,False,False,40,24,4,6.0,7,"[Law & Social Science, Science]",3.0
18,2023-04-23T10:13:20Z,30,Spain,Married,Heterosexual,No,College Degree,100000.0,174,80.0,...,False,False,False,3,1,1,2.0,9,[Computer Science],11.0
19,2023-01-10T17:41:37Z,28,None,In a Relationship Cohabiting,None,No,Master,40000.0,174,71.0,...,False,False,False,9,3,2,4.0,8,[Business],5.0

# format the QA

In [10]:
# for each question in the QA
!pip install table_bert

ERROR: Could not find a version that satisfies the requirement table_bert (from versions: none)
ERROR: No matching distribution found for table_bert